@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
}

a {
	color: black;
}

#inputs:hover {
	color: #526760;
	cursor:context-menu;
}

#inputLoginCustomer, #inputLoginAdmin{
	background-color: white;
	max-width: 500px;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

#inputSignup {
	background-color: white;
	max-width: 500px;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#selectUserRoleLogin {
	/* background-color: white; */
	max-width: 500px;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-align: center;
}

#selectUserRoleSignup {
	/* background-color: white; */
	max-width: 500px;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-align: center;
}

input {
	max-width: 300px;	
}

button {
	border-radius: 5px;
}

.btn-primary.custom-btn {
    background-color: #273B09;
    border-color: #273B09;
  }